body {
  overflow: hidden; /* Hide scrollbars */
}
.img-preview {
	max-width:100px;
	/*max-height:30px;*/
}

.img-preview2 {
	max-width:100px;
	max-height:60px;
}

.img-preview3 {
    max-width:100px;
    max-height:100px;
}

.img-media {
    width:100%;
    height:100%;
}

h1.jadwal {
    font-size:5rem;
    text-align: center;
}
th.jadwal {
    text-align: center;
}
th.jadwal,td.jadwal {
    font-size:2.5rem;
}
.tengah {
    text-align: center;
}

#remove_btn {
    display: none;
}

.banner-preview {
    max-width: 100%;
}

.profile-user-img2 {
    border: 3px solid #d2d6de;
    margin: 0 auto;
    padding: 3px;
    width: auto;
    height: 300px;
}

.modal-xl {
    max-width: 1140px;
    width:auto;
}

.paginate_button {
    padding:3px !important;
}

input, label {vertical-align:middle}
.qrcode-text {padding-right:1.7em; margin-right:0}
.qrcode-text-btn {display:inline-block; background:url(//dab1nmslvvntp.cloudfront.net/wp-content/uploads/2017/07/1499401426qr_icon.svg) 50% 50% no-repeat; height:1em; width:1.7em; margin-left:-2em; cursor:pointer}
.qrcode-text-btn > input[type=file] {position:absolute; overflow:hidden; width:1px; height:1px; opacity:0}